<table>
  <tr>
    <td>From</td>
    <td>To</td>
    <td>Text</td>
  </tr>
  <% @messages.each do |message| %>
    <td><%= message.from %></td>
    <td><%= message.to %></td>
    <td><%= message.text %></td>
  <% end %>
</table>
